<div style="display: flex; transform: translateY(-10%)">
  <h1>
    <img src="assets/repeat40.png" alt="Diis To Niis" class="logo" draggable="false"/>
  </h1>
  <h1>&nbsp;{{title}}&nbsp;&nbsp;</h1>
  <nav style="transform: translateY(15.55%)">
    <a routerLink="/dashboard">Convert</a>
   <!-- <a routerLink="/history">History</a> -->
    <a routerLink="/operations">Operations</a>
    <a routerLink="/troubleshoot">Troubleshoot</a>
    <a routerLink="/validate">Validate</a>
  </nav>
</div>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
